@charset "UTF-8";
a{font-family : 'Noto Sans KR', sans-serif;}
body{font-family: 'Noto Sans KR', sans-serif;
overflow-x: hidden;}
html {
  scroll-behavior: smooth;
}
*{margin: 0; padding: 0;}
ol ,ul, dl{list-style: none;}
a{text-decoration: none; color: #fff;}

#header{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 5;
  box-shadow: rgba(0,0,0,0.25) 0px 4px 4px 0px;
  transition: background-color 200ms ease-in-out 0s;
  background: #000;
  padding: 10px 0;
  &:after{
    display: block;
    clear: both;
    content: "";
  }
  .wrap{
    width: 95%;
    margin: 0 auto;
    >div{
      width: 33.33%;
    }
  }
  .left{
    float: left;
  }
  .right{
    float: right;
    margin: 0 auto;
  text-align: center;
    ul{
            display: inline-block;
            margin: 0 auto;
    }
  }
  .menu{
    ul{
      margin: 0 auto;
      &:after{
        display: block;
        clear: both;
        content: "";
      }
      li{
        float: left;
        margin: 0px 20px;
        &:hover a{color: rgb(229, 9, 20);}
        a{
          display: block;
          color: #fff;
          text-align: center;
          font-size: 16px;
          font-weight: 700;
          letter-spacing: -2px;
          line-height: 5em;

        }
      }
    }
  }
  .middle{
    float: left;
    a{
      display: block;
      width: 178px;
      height: 80px;
      line-height: 80px;
      margin: 0 auto;
      img{
        display: block;
        width: 100%;
      }
    }
  }

}
#section_01{
  width: 100%;
  position: relative;
  height: 100vh;
  background-attachment: fixed !important;
  background: no-repeat center center;
  video{
    position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        object-fit: cover;
  }
  .textbox{
    position: relative;
    width: 100%;
    height: 100%;
    p{
      font-size: 45px;
      line-height: 1.4em;
      color: #fff;
      font-weight: bold;
      text-align: center;
      letter-spacing: -3px;
      position: absolute;
      top: 39%;
      left: 0%;
      width: 100%;
    }
  }
}

#section_02{
  background-color: #000;
  .text_01{
    padding: 150px 0px 100px;
    p{
      font-size: 20px;
    line-height: 1.6;
    letter-spacing: -0.6px;
    margin: 0px auto;
    color: #fff;
    font-family: var(--light-font);
    width: 1100px;
    text-align: center;
    }
  }
  .text_02{
    h3{
      font-family: var(--medium-font);
      font-weight: bold;
      padding: 0px 20px;
      text-align: center;
      color: #fff;
      font-size: 60px;
      margin: 0 0 60px;
      letter-spacing: -0.6px;
  }
  }
  .contents{
    padding-bottom: 200px;
    .contents_wrap{
      position: relative;
      width: 900px;
      margin: 0 auto;
      height: 700px;
      div{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 700px;
        overflow: hidden;
        a{
          text-decoration: none;
          color: #fff;
          display: block;
          width: 60%;
          margin: 80px auto 0 auto;
          img{
            display: block;
            width: 100%;
          }
        }
        span{
          text-align: center;
          font-size: 40px;
          color: rgb(229, 9, 20);
          font-weight: bold;
          margin: 10px auto 0 auto;
          display: block;
        }
        p{
          text-align: center;
          font-size: 20px;
          color: #fff;
          font-weight: 500;
          margin: 0 auto;
              margin-top: 0px;
          display: block;
          line-height: 30px;
          background-color: #000;
          margin-top: 10px;
        }
      }
      .slick-prev::before {
      content: '';
      width: 12.5px;
      height: 12.5px;
      display: block;
      border-top: solid 3px #fff;
      border-right: solid 3px #fff;
      transform: rotate(225deg);
    }
    .slick-next::before {
        content: '';
        width: 12.5px;
        height: 12.5px;
        display: block;
        border-top: solid 3px #fff;
        border-right: solid 3px #fff;
        transform: rotate(45deg);
    }

  }
}
}

#section_03{
  background-color: #fff;
  .wrap{
    width: 1120px;
    margin: 0 auto;
    padding: 90px 0px 80px;
    h4{
      font-size: 60px;
      font-weight: bold;
      text-align: left;
      letter-spacing: -2px;
    }
    >span{
      color: #e50914;
      font-size: 30px;
      text-align: left;
      display: inline-block;
      vertical-align: middle;
      font-weight: bold;
      line-height: 50px;
    }
    span + span{
      text-indent: 10px;
      font-weight: lighter;
    }
  }

  #news_wrap{
    width: 1240px;
    margin-top: 50px;
    margin-left: -60px;

    .slick-prev, .slick-next{
      cursor: pointer;
      font-size: 0;
      line-height: 0;
      position: absolute;
      top: 48%;
      display: block;
      width: 20px;
      height: 20px;
      padding: 0;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      cursor: pointer;
      color: transparent;
      border: none;
      outline: none;
      background: transparent;
      &:before{
        padding: 5px;
      }
      &:hover:before{
        color: #000;
      }
    }
    .slick-next:before {
    content: "";
    width: 3px;
    height: 3px;
    display: block;
    border-top: solid 3px #444;
    border-right: solid 3px #444;
    transform: rotate(45deg);
}
.slick-prev:before {
    content: "";
    width: 3px;
    height: 3px;
    display: block;
    border-top: solid 3px #444;
    border-right: solid 3px #444;
    transform: rotate(225deg);
}

    .mid_wrap{
      width: 414px;
      border-right: solid 3.5px #f1f1f1;
      .text{
      width: 302px;
      height: 303.2px;
      padding: 20px 60px 80px;

      span{
        font-size: 16px;
        display: block;
        margin-top: 10px;
      }
        p{
          font-size: 23px;
          line-height: 1.5;
          letter-spacing: 0.2px;
          margin: 5px 0 3px;
          font-weight: 700;
        }
        a{
          margin-top: 60px;
          font-family: var(--bold-font);
          font-weight: 700;
          color: #fff;
          background: #e50914;
          padding: 8px 16px;
          text-transform: uppercase;
          display: inline-block;
          vertical-align: middle;
          line-height: 20px;
          span{
            display: inline-block;
            vertical-align: text-bottom;
            line-height: 20px;
            margin-top: 0;
            text-indent: 5px;
          }
        }
        a + span{
          font-size: 16px;
          display: block;
          text-transform: uppercase;
          font-weight: 600;
          margin-top: 10px;
          color: #000;
      }
    }
  }
  }
}

#section_04{
  background-image: url(/img/redesign/netflix_bg_01.png);
  height: 100vh;
  width: 100vw;
  margin: 0px calc(50% - 50vw);
 background-size: cover;
 background-repeat: no-repeat;
  .text{
    padding: 300px 0 0 208px;
    h5{
      line-height: 1.33;
      font-size: 60px;
      color: #fff;
      font-weight: bold;
      letter-spacing: -0.6px;
    }
    span{
      display: block;
      color: #fff;
      font-size: 20px;
      font-weight: 300;
      line-height: 1.5;
      letter-spacing: -0.2px;
    }
    p{
      display: inline-block;
      &:hover span{
        color: #fff;
      }
      &:hover span + span{
        color: #fff;
      }
    .more{
      font-size: 20px;
      margin: 25px 0 0;
      font-weight: bold;
      line-height: 1.5;
      letter-spacing: -0.2px;
      color: rgb(229, 9, 20);
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
    }
    .more + span{
      display: inline-block;
      vertical-align: top;
      font-size: 20px;
      margin: 25px 0 0;
      font-weight: bold;
      line-height: 1.5;
      letter-spacing: -0.2px;
      color: rgb(229, 9, 20);
      cursor: pointer;
    }
  }
  }
}
#footer{
  background-color: #000;
  width: 100%;
  display: block;
  .wrap{
    width: 1210px;
    margin: 0 auto;
  }
  .terms_top{
    ul{
      &:after{
        content: "";
        display: block;
        clear: both;
      }
      li{
        float: left;
        width: 20%;
        &:hover a{color: #e50914;}
        a{
          display: block;
              font-size: 16px;
              font-weight: 500;
              text-align: center;
              line-height: 60px;
          }
      }
    }

  }

  .terms_bottom{
    ul{
      &:after{
        content: "";
        display: block;
        clear: both;
      }
      >li{
        float: left;
        width: 33.33%;
        height: 110px;
      }
      .logo{
        a{
          display: block;
              width: 190px;
              height: 80px;
              margin-left: 30px;
          img{
            width: 100%;
            display: block;
          }
        }
      }
      .sns{
        ul{
          margin: 10px 0 0 193px;
    width: calc(64 * 3px);
          &:after{
            content: "";
            display: block;
            clear: both;
          }
          li{
            float: left;
            width: auto;
            height: auto;
            &:hover a{color: #e50914;}
            a{
              display: block;
              padding: 14px;
              font-size: 35px;
              img{
                display: block;
                width: 100%;


              }
            }
          }
        }
      }
      .legal{
        p{
          font-size: 16px;
              font-weight: normal;
              color: #fff;
              text-align: center;
              margin-top: 30px;
        }
      }
    }

  }

}
