<!--div.terms_top>ul.terms_top_text>li(>a[href=""])*5+div.terms_bottom>ul.terms_bottom_text>li(>a[href=""]+p(>span))*3-->
<footer>
<div id="terms_top">
  <ul class="terms_top_text">
    <li>
      <a href="/aboutus/brandstory.html">ABOUT</a>
    </li>
    <li>
      <a href="/footer/privacy-policy.html">개인정보처리방침</a>
    </li>
    <li>
      <a href="/footer/terms-of-use.html">이용약관</a>
    </li>
    <li>
      <a href="/footer/email.html">이메일무단수집거부</a>
    </li>
    <li>
      <div class="family">
      <input type="checkbox" id="check">
      <label for="check">패밀리사이트</label>
      <ul class="ab_box">
        <li><a href="https://www.strava.com/login" target="_blank"><img src="/img/login_strava.png" alt="스트라바"></a></li>
        <li><a href="https://www.giant-bicycles.com/kr" target="_blank"><img src="/img/logo_giant.png" alt="자이언트"></a></li>
        <li><a href="https://www.bassobikes.com/" target="_blank"><img src="/img/logo_basso.png" alt="바쏘"></a></li>
        <li><a href="https://www.bmc-switzerland.com/" target="_blank"><img src="/img/logo_bmc.png" alt="bmc"></a></li>
      </ul>
    </div>
    </li>
  </ul>
</div>

<div id="terms_bottom">
  <ul class="terms_bottom_text">
    <li class= terms_logo>
      <a href="/portfolio_01.html"><img src="/img/logo_3.png" alt="#"></a>
    </li>
    <li class="terms_info">
      <p>회사명: SHARETHEROAD ｜ 사업자등록번호 : 123-45-67890</p>
      <p>통신판매업: 제 2020-인천부평-123456호 ｜ 개인정보보호책임자: 진주은</p>
      <p>대표 : 진주은 ｜ 주소: 인천광역시 부평구 부평대로 로제빌딩</p>
      <p>팩스 : 0505-505-5050 ｜ 이메일 : help@str.com</p>
      <p>COPYWRIGHT ⓒ 2020 SHARETHEROAD. ALL RIGHTS RESEVED.</p>
    </li>
    <li class="terms_sns">
      <a href="http://blog.naver.com" target="_blank"><span>blog</span></a>
      <a href="http://www.facebook.com" target="_blank"><span>facebook</span></a>
      <a href="http://www.instagram.com" target="_blank"><span>instagram</span></a>
    </li>
  </ul>
</div>
</footer>
</body>
</html>
