<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="description" content="자전거, PMV 라이더들을 위한 프리미엄 안전용품 브랜드.">
  <meta name="keywords" content="접이식헬멧, fordablehelmet, 자전거안전용품, 안전용품, 킥보드안전용품, 자전거헬멧, 킥보드헬멧">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
  <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&Noto+Sans+KR&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Source+Serif+Pro&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
  <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/scss/sass_indexlayout.min.css">
  <link rel="stylesheet" href="/scss/media.min.css">
  <!--[if IE]>
  <link rel="stylesheet" type="text/css" href="/css/only-ie.css"/>
  <![endif]-->
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="/js/index.js"></script>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#f24405">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <script src="https://kit.fontawesome.com/8a5ab2ae07.js" crossorigin="anonymous"></script>
  <title>SHARE THE ROAD</title>
</head>
<body onload="init();">
  <!--header#header>div>h1(>a[href="#"])+div.nav>ul.depth1>li(>a[href="#"]+div.ab_box>ul.depth2>li(>a[href="#"])*4)*4-->
<header id="header">
  <div id="main">
   <h1><a href="/portfolio_01.html"><img src="/img/main_logo.svg" alt="쉐어더로드 메인로고"></a></h1>
   <div id="navi" class="nav">
       <ul id="navi_depth1" class="depth1">
         <li id="ab_box_twin">
           <div>
             <ul id="utility">
               <li><span class="xi-user-o"></span></li>
               <li><span class= "xi-search"></span></li>
               <li><a href="/mypage/wish.html" class= "xi-heart-o"></a></li>
               <li><a href="/mypage/cart.html" class= "xi-cart-o"></a></li>
             </ul>
           </div>
         </li>
           <li class="depth1_li" id="depth1_line">
             <a href="/aboutus/brandstory.html">ABOUT US</a>
             <div class="nav_ab_box">
               <ul class="depth2">
                 <li><a href="/aboutus/brandstory.html">Brand story</a></li>
                 <li><a href="/aboutus/technologies.html">Technologies</a></li>
                 <li><a href="/aboutus/ambassador.html">Ambassador</a></li>
               </ul>
             </div>
           </li>
           <li class="depth1_li">
             <a href="/product/best.html">PRODUCT</a>
             <div class="nav_ab_box">
               <ul class="depth2">
                 <li><a href="/product/promotion.html">기획전</a></li>
                 <li><a href="/product/best.html">베스트 상품</a></li>
                 <li><a href="/product/foldable_helmet.html">접이식 헬멧</a></li>
                 <li><a href="/product/safe_product.html">안전용품</a></li>
                 <li><a href="/product/set_product.html">세트상품</a></li>
               </ul>
               </div>
           </li>
           <li class="depth1_li">
             <a href="/event/event_ing.html">EVENT</a>
             <div class="nav_ab_box">
               <ul class="depth2">
                 <li><a href="/event/event_ing.html">진행중인 이벤트</a></li>
                 <li><a href="/event/event_end.html">종료된 이벤트</a></li>
               </ul>
             </div>
           </li>
           <li class="depth1_li">
             <a href="/community/notice.html">COMMUNITY</a>
             <div class="nav_ab_box">
             <ul class="depth2">
               <li><a href="/community/notice.html">공지사항</a></li>
               <li><a href="/community/qna.html">Q&A</a></li>
               <li><a href="/community/review.html">리뷰</a></li>
             </ul>
           </div>
         </li>
           <li class="depth1_li">
             <a href="/join/join.html">MY PAGE</a>
             <div class="nav_ab_box">
             <ul class="depth2">
               <li><a href="/join/join.html">회원정보</a></li>
               <li><a href="/mypage/wish.html">관심상품</a></li>
               <li><a href="/mypage/order_history.html">주문조회</a></li>
               <li><a href="/mypage/coupon.html">쿠폰/적립금</a></li>
             </ul>
           </div>
         </li>
       </ul>
   </div>
  <input type="checkbox" name="hamburger" id="index_hamburger" class="hamburger_on">
  <label for="index_hamburger" class="index_hamburger_open xi-bars"></label>
  <div id="hamburger_back_id" class="hamburger_back">
    <label for="index_hamburger" class="index_hamburger_close xi-close-thin"></label>
    <h1><a href="/portfolio_01.html"><img src="/img/main_logo.svg" alt="쉐어더로드 메인로고"></a></h1>
    <ul id="utility">
       <li><span class="xi-user-o"></span></li>
       <li><span class="xi-search"></span></li>
       <li><a href="/mypage/wish.html" class="xi-heart-o"></a></li>
       <li><a href="/mypage/cart.html" class="xi-cart-o"></a></li>
   </ul>
      <nav class="nav">
        <ul class="depth_01">
          <li>
            <input type="checkbox" name="hamburger_depth" id="hamburger_depth-1">
            <label for="hamburger_depth-1" class="depth_in_label">ABOUT US</label>
            <a class="depth_in_a" href="/aboutus/brandstory.html">ABOUT US</a>
            <div class="ab_box">
              <ul class="depth_02">
                <li><a href="/aboutus/brandstory.html">Brand story</a></li>
                <li><a href="/aboutus/technologies.html">Technologies</a></li>
                <li><a href="/aboutus/ambassador.html">Ambassador</a></li>
              </ul>
            </div>
          </li>
          <li>
            <input type="checkbox" name="hamburger_depth" id="hamburger_depth-2">
            <label for="hamburger_depth-2" class="depth_in_label">PRODUCT</label>
            <a class="depth_in_a" href="/product/best.html">PRODUCT</a>
            <div class="ab_box">
              <ul class="depth_02">
                <li><a href="/product/promotion.html">기획전</a></li>
                <li><a href="/product/best.html">베스트 상품</a></li>
                <li><a href="/product/foldable_helmet.html">접이식 헬멧</a></li>
                <li><a href="/product/safe_product.html">안전용품</a></li>
                <li><a href="/product/set_product.html">세트상품</a></li>
              </ul>
            </div>
          </li>
          <li>
            <input type="checkbox" name="hamburger_depth" id="hamburger_depth-3">
            <label for="hamburger_depth-3" class="depth_in_label">EVENT</label>
            <a class="depth_in_a" href="/event/event_ing.html">EVENT</a>
            <div class="ab_box">
              <ul class="depth_02">
                <li><a href="/event/event_ing.html">진행중인 이벤트</a></li>
                <li><a href="/event/event_end.html">종료된 이벤트</a></li>
              </ul>
            </div>
          </li>
          <li id="blank">
          </li>
          <li>
            <input type="checkbox" name="hamburger_depth" id="hamburger_depth-4">
            <label for="hamburger_depth-4" class="depth_in_label">COMMUNITY</label>
            <a class="depth_in_a" href="/community/notice.html">COMMUNITY</a>
            <div class="ab_box">
              <ul class="depth_02">
                <li><a href="/community/notice.html">공지사항</a></li>
                <li><a href="/community/qna.html">Q&A</a></li>
                <li><a href="/community/review.html">리뷰</a></li>
              </ul>
            </div>
          </li>
          <li>
            <input type="checkbox" name="hamburger_depth" id="hamburger_depth-5">
            <label for="hamburger_depth-5" class="depth_in_label">MY PAGE</label>
            <a class="depth_in_a" href="/join/join.html">MY PAGE</a>
            <div class="ab_box">
              <ul class="depth_02">
                <li><a href="/join/join.html">회원정보</a></li>
                <li><a href="/mypage/wish.html">관심상품</a></li>
                <li><a href="/mypage/order_history.html">주문조회</a></li>
                <li><a href="/mypage/coupon.html">쿠폰/적립금</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
    </div>
   <!--ul(>li(>a[href="#"])*6)+div(>input+label)+div(>input+label)+div(>input+label)+div(>button)+div(>a[href="#"]*2)-->
      <div class="login_popup">
        <ul>
          <li>
            <a class="login_subject">로그인</a>
            <span class="xi-close-thin"></span>
          </li>
          <li><a href="https://www.strava.com/login" target="_blank"><img src="/img/login_strava.png" alt="#"></a></li>
          <li><a href="https://accounts.google.com/" target="_blank"><img src="/img/login_google.png" alt="#"></a></li>
          <li><a href="https://www.facebook.com/login" target="_blank"><img src="/img/login_facebook.png" alt="#"></a></li>
          <li><a href="https://accounts.kakao.com/login" target="_blank"><img src="/img/login_kakao.png" alt="#"></a></li>
          <li><a href="https://nid.naver.com/" target="_blank"><img src="/img/login_naver.png" alt="#"></a></li>
        </ul>
        <div><input type="text" id="e-mail" required placeholder="이메일"><label for="e-mail"></label></div>
        <div><input type="text" id="pw" required placeholder="패스워드"><label for="pw"></label></div>
        <div><input type="checkbox" id="remember"><label for="remember">내 아이디 기억하기</label></div>
        <div class="login_btn">
          <button>로그인</button>
        </div>
        <div class="login_bottom">
          <ul>
            <li><a href="/join/join.html">이메일로 회원가입</a></li>
            <li><a href="#none">비밀번호 찾기</a></li>
          </ul>
        </div>
      </div>
      <div class="search_popup">
        <div class="search_popup_wrap">
          <input type="text" id="form_search" name="keyword" placeholder="Search" autofocus >
          <label for="form_search"></label>
          <a href="#none" class="xi-search"></a>
          <span class="xi-close-thin"></span>
        </div>
      </div>
    <div class="login_popup_opacity"></div>
  </div>
</header>
